@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Invasible';
  src: url('../fonts/invasible-invasible-regular-400.ttf');
}

.font-third{
  font-family: "Invasible";
}

.font-second{
  font-family: "JetBrains Mono", monospace;
}

html{scroll-behavior:smooth}

@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.fadeOut {
    animation: fadeOut 2s ease-in-out forwards;
}
.fadeOutBlur {
    animation: fadeOut 1s ease-in-out forwards;
    animation-delay: 1.5s;
}